<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple starting HTML page">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="home">
    <div id="outer-box">
        <div id="inner-box">
            <h1 id="wip">Work In Progress</h1>
            <h2>Nothing To See Yet</h2>
        </div>
    </div>
    <p>Maybe we have some <a href="/users">users</a></p>
</body>
</html>