<nav class="navbar">
    <ul>
        <li><a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a></li>
        <li><a href="/add-product" class="<%= page === 'product' ? 'active' : '' %>">Add Product</a></li>
    </ul>
</nav>