<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet", href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/" {{#if activeShop}} class="active" {{/if}}>Home</a></li>
                <li><a href="/add-product" {{#if activeAdd}} class="active" {{/if}}>Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}   <!-- Plcaeholder for Content -->
    </main>

</body>
</html>